.form{
    padding: 1rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
.oneRow{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 600px){
    .row{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}